*{
    width: 960px;
    margin: auto;
    background-color: #868B8E;
}

*{
    border: 1px, 0.3 solid black;
    border-top-style: none;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 3em;
}

hr{
    max-width: 890px;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom-style: dotted;
}

body{
    background-color: #74112f;

}